code[class*=language-],
pre[class*=language-] {
	white-space: pre-wrap;
}

.preview-body header {
	display: none;
}

.social-links {
	display: flex;
	gap: 12px;
	margin: 20px 0 0;
	justify-content: center;
}

.social-link .svg-icon {
	display: inline-block;
	height: 20px;
	width: 20px;
}

.navbar .social-links {
	display: none;
}

.navbar .title-link {
	order: 1;
}

@media (max-width: 1000px) {
	.filetree-sidebar .site-logo {
		display: none;
	}
}

.site-logo {
	border-radius: 50%;
	object-fit: cover !important;
}

.filetree-sidebar h1,
.navbar h1 {
	color: var(--text-accent);
}

.filetree-wrapper {
	box-shadow: 1px 0 0 0 var(--background-modifier-border);
}

.navbar {
	box-shadow: 0 1px 0 0 var(--background-modifier-border);
}


h1 {
	font-size: 1.9em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}






.language-css .token.string,
.style .token.string,
.token.entity,
.token.url
{
	color: rgb(var(--color-green-rgb));
}

.token.punctuation
{
	color: var(--text-muted);
}

.token.operator {
	color: rgb(var(--color-red-rgb));
}

.token.variable,
.token.parameter {
	color: rgb(var(--color-cyan-rgb));
}

.token.keyword {
	color: rgb(var(--color-pink-rgb));
}

.token.boolean,
.token.number {
	color: rgb(var(--color-purple-rgb));
}


.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
	color: rgb(var(--color-yellow-rgb));
}




p>code {
	color: var(--text-muted);
	background-color: var(--background-primary-alt);
}


code[class*=language-],
pre[class*=language-] {
	color: var(--text-muted);
	text-shadow: none;
}


:not(pre)>code[class*=language-],
pre[class*=language-] {
	background: var(--background-primary-alt);
}



body {

    --callout-blend-mode: normal;
}

.callout-icon svg {
	height: 1em;
	width: 1em;
}


.custom-list-icon {
	vertical-align: middle;
}

.task-list-item label {
	vertical-align: middle;
}

.header-meta {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.header-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
}


.timestamps {
	margin-top: 0;
	order: -1;
}

header h1 {
	margin: 0 0 6px 0;
}

header {
	margin-bottom: 2em;
}

body {
  --accent-h: 9;
  --accent-s: 60%;
  --accent-l: 60%;
}


.theme-light {

  --color-red-rgb: 200, 55, 55;
  --color-orange-rgb: 216, 105, 14;
  --color-yellow-rgb: 204, 153, 0;
  --color-green-rgb: 89, 141, 37;
  --color-cyan-rgb: 29, 131, 149;
  --color-blue-rgb: 59, 128, 196;
  --color-purple-rgb: 101, 81, 189;
  --color-pink-rgb: 221, 98, 135;

  
    --background-primary: hsl(0, 0%, 100%);
    --background-primary-alt: hsl(30, 20%, 98%);
    --background-secondary: hsl(30, 20%, 98%);
    --background-secondary-alt: hsl(30, 5%, 96%);
    --background-modifier-border: hsl(30, 4%, 89%);
    --background-modifier-border-hover: hsl(30, 2%, 82%);

    --text-normal: hsl(20, 8%, 15%);
    --text-muted: hsl(20, 8%, 40%);
    --text-faint: hsl(20, 8%, 75%);


    --text-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --link-color: var(--text-accent);
    --link-color-hover: var(--text-accent-hover);
    --link-unresolved-color: var(--text-accent);
    --link-unresolved-opacity: 0.7;

	--dg-search-highlight-bg: hsla(40, 80%, 50%, 0.2);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--text-normal);
    font-family: "Playfair Display", "Noto Serif", serif;
	font-weight: 500;
	margin: 1rem 0;
}



body {
	--dg-filetree-logo-height: 180px;

	--dg-content-padding-top: 75px;
  
    --dg-filetree-width: 270px;
  
    --dg-notelink-size: 1rem;
    --font-default: "Noto Serif";

  --dg-content-max-width: 850px;
  --dg-toc-item-padding: 2px 0;
  --dg-toc-padding: 5px 0;
	--dg-filetree-title-size: 28px;
}

.filetree-sidebar, .navbar {
    box-sizing: border-box;
}

.filetree-sidebar .search-button {
    margin: 12px 0;
}

@media (max-width: 800px) {
	.navbar .search-button {
		margin: 10px 16px;
	}
}


@media (max-width: 850px) {
	.content {
		padding-right: 16px;
		padding-left: 16px;
	}
}

.navbar {
	padding-left: 16px;
}

@media (max-width: 1400px) {
    .sidebar {
        margin-left: 290px;
    }
}

@media (max-width: 1000px) {
    .sidebar {
        margin-left: auto;
    }
}

.filetree-wrapper {
    width: unset;
}



.notelink a.filename {
    color: var(--link-color)
}


mark {
    background-color: hsla(40, 80%, 50%, 0.2);
}


blockquote {
    border-left: 2px solid var(--text-accent);
}

blockquote:before {
    display: none;
}


a {
    color: var(--link-color);
}

.internal-link.is-unresolved {
    color: var(--link-unresolved-color);
    opacity: var(--link-unresolved-opacity);
}




a.tag,
.preview-content .preview-tags .tag
{
    background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);
    border-radius: 2em;
    color: var(--text-accent);
    padding: 0.05em 0.5em;
    font-size: 0.875em;
    cursor: pointer;
}

a.tag:hover {
    background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.2);

}

.referred {
    border: none;
}



input[type=checkbox] {
    appearance: none;
    border-radius: 50%;
    border: 1px solid var(--text-faint);
    margin-inline-end: 6px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
	padding: 0;
}


input[type=checkbox]:checked {
    background-color: var(--text-accent);
    border-color: var(--text-accent);
}

input[type=checkbox]:checked:after {
    content: "";
    position: relative;
    left: -1px;
    top: -1px;
    width: 18px;
    height: 18px;
    display: block;
    background-color: white;
    -webkit-mask-position: 52% 52%;
    -webkit-mask-size: 65%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml; utf8, <svg width=\"12px\" height=\"10px\" viewBox=\"0 0 12 8\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"><g stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\"><g transform=\"translate%28-4.000000, -6.000000%29\" fill=\"%23000000\"><path d=\"M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999\"></path></g></g></svg>");

}


.backlinks:has(.backlink-list:empty) {
  display: none;
}


table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid var(--text-faint);
  padding: 4px 8px;
}



.toc-container ul,
.toc-container ol,
.filelist {
  border-left: none;
}



.toc-container {
  max-height: unset;
}


.toc>ol {
  padding-left: 0 !important
}


.filetree-sidebar > .folder > * > .inner-folder,
.filetree-sidebar > .folder > div:not(.filelist) > .notelink
{
  margin-left: 0
}

.svg-icon {
  width: 18px;
  height: 18px;
}


.task-list-item > p {
	margin: 0;
}

.content > ul {
	padding-inline-start: 20px;
}

.content > ul.task-list {
	padding-inline-start: 0px;
}


input[type=checkbox]:is([data-task="-"], [data-task="~"], [data-task=">"], [data-task="/"]) {
    background-color: transparent;
    border-color: transparent;
    --checkbox-color-hover: transparent;
}

input[type=checkbox].task-list-item-checkbox:hover {
    opacity: 0.7;
}

input[type=checkbox]:is([data-task="-"], [data-task="~"], [data-task=">"], [data-task="/"]):checked::after {
	-webkit-mask-position: 50% 50%;
    -webkit-mask-size: 100%;
    background-color: var(--text-accent);
}


input[type=checkbox][data-task="~"]:checked::after {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='1 1 22 22' fill='none' stroke='currentColor' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-circle-x-icon lucide-circle-x'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='m15 9-6 6'/%3E%3Cpath d='m9 9 6 6'/%3E%3C/svg%3E");
}

input[type=checkbox][data-task="-"]:checked::after {
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjI1IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW1pbnVzLWljb24gbHVjaWRlLW1pbnVzIj48cGF0aCBkPSJNNSAxMmgxNCIvPjwvc3ZnPg==");
}

input[type=checkbox][data-task="/"]:checked::after {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' transform='rotate(180 0 0)' viewBox='2 2 20 20' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-percentage-50'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 21a9 9 0 0 0 0 -18m0 0v18' fill='currentColor' stroke='none' /%3E%3Cpath d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0' /%3E%3C/svg%3E");
}

input[type=checkbox][data-task=">"]:checked::after {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='1 1 22 22' fill='none' stroke='currentColor' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-circle-chevron-right-icon lucide-circle-chevron-right'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='m10 8 4 4-4 4'/%3E%3C/svg%3E");
}


.filetree-sidebar>.folder {
    scrollbar-width: none;
}



.obsidian-base-card-field {
    font-size: 0;
    
}

.obsidian-base-card-value {
    font-size: 0.85rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.obsidian-base-value-list-item:is([data-value="note"], [data-value="gardenEntry"]) {
    display: none
}


.obsidian-base-value-list-item {
    padding: 0 8px;
    background-color: var(--background-secondary-alt);
    border-radius: 12px;
    font-size: 0.9em;
}

[data-column="tags"] .obsidian-base-value-list-item {
    background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);
    color: var(--text-accent);
}

.obsidian-base-card-title {
    margin-bottom: 0;
}


.obsidian-base-card-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.obsidian-bases-toolbar {
    display: none;
}

.callout {
    --display-callout-icon: flex;
}

.callout-icon {
    display: var(--display-callout-icon);
}

[data-callout="bare"] {
    --callout-color: transparent;
    --callout-padding: 0;
    --display-callout-icon: none;
}



main.content > ul li {
	padding-top: 0.125em;
	padding-bottom: 0.125em;
}
